<% provide(:title, @user.username) %>
<section>
  <div class="row">
    <div class="menubar"><%= render_navigation( expand_all: true) %></div>
    <div class="user_info pull-right">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="property_info">
      <h1>Propiedades Registradas</h1>
      <table class="table table-striped">
        <tr>
          <td class="prop_header"># Seq.</td>
          <td class="prop_header">Dirección</td>
          <td class="prop_header">Mapa</td>
        </tr>
        <% @properties.each_with_index do |property, index| %>
          <tr>
            <td>
              <%= index+1 %>
            </td>
            <td>
              <%= link_to "#{property.address}", user_property_path(current_user.id, property.id),title: 'Ver Propiedad', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
            </td>
            <% unless property.latitude.nil? && property.longitude.nil? %>
              <td><%= image_tag "http://maps.google.com/maps/api/staticmap?size=200x200&sensor=false&zoom=16&markers=#{property.latitude}%2C#{property.longitude}" %>
              </td>
            <%end%>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
