<% provide(:title, 'Propiedades::Registrar') %>
<% Cities.data_path = Rails.root.join('config', 'extras', 'cities') %>
<h1>Registrar Propiedad</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   	<%= form_for @property, url: {action: "create"} do |f| %>
    	<%@countries = CountriesWithCitiesGrouper.new('Americas')%>
    	<%= f.label :city, "Ciudad" %>
      <%= f.select :city, @countries.cities_for('Colombia'),
               { include_blank: true },
               { class: 'chosen-select' } %>

      <%= f.label :neighbor, "Barrio:" %>
      <%= f.text_field :neighbor %>

      <%= f.label :location, "Dirección:" %>
      <%= f.text_field :location %>

      <%= f.label :area, "Área del Inmueble*:" %>
      <%= f.text_field :area %>

      <%= f.label :building_name, "Urbanización:" %>
      <%= f.text_field :building_name %>

      <%= f.label :floors_number, "# Pisos:" %>
      <%= f.number_field :floors_number %>

			<%= f.label :floors, "Piso:" %>
      <%= f.number_field :floor %>

      <%= f.label :op_rental, "Arrendar/Rentar"%>
      <%= f.radio_button :for_sell, "0", required: true %>

      <%= f.label :op_sell, "Vender" %>
      <%= f.radio_button :for_sell, "1", required: true %>

			<%= f.label :value, "Valor:" %>
      <%= f.number_field :value %>

      <%= f.hidden_field :lease_holder_id, value: current_user.id %>

      <%= f.submit "Registrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
