@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap2_dropdown_submenu";
@import "bootstrap2_navbar_divider_vertical";
@import "simple_navigation_bootstrap_overrides";

/* universal */

section {
  overflow: unset;
}

.menubar{
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 48px;
  h2 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
  }
}

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* property filter */

#filter_options{
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}
/* userinfo */

.user_info{
  h1 {
      font-size: 2em;
      
    }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* property_info */

.property_info {
  margin-left: auto; 
  margin-right: auto;
}

.prop_header {
  font-weight: bold;
}


/* home */

.home_central_image {
  margin-bottom: 20px;
}
