<footer class="footer">
  <small>
    Síganos en <a href="https://twitter.com/?lang=es">Twitter</a>
    y <a href="https://www.facebook.com/">Facebook</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca De",   '#' %></li>
      <li><%= link_to "Contáctenos", '#' %></li>
    </ul>
  </nav>
</footer>