<footer class="footer">
  <small>
    Síganos en <a href="https://twitter.com/?lang=es">Twitter</a>
    y <a href="https://www.facebook.com/">Facebook</a>
  </small>
  <nav>
    <div class="row">
        <ul>
        <div class="col-md-6 col-sm-12">
          <li><%= link_to "Acerca De",   '#' %></li>
        </div>
        <div class="col-md-6 col-sm-12">
            <li><%= link_to "Contáctenos", '#' %></li>
        </div>
        </ul>
    </div>
  </nav>
</footer>