<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Real Estate Web", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if current_user %>
          <li>Logged in as <%= link_to "#{current_user.email}", user_path(current_user.id) %></li>
        <%else%>
          <li><%= link_to "iniciar sesión", :login %></li>
        <%end%>
        <% if current_user %>
        <li><%= link_to "salir", :logout, method: :post %></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>