<h1>Nueva Operación</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @operation, url: {action: "create"} do |f| %>

      <%= f.label :property_id, "Propiedad:" %>
      <%= f.select :property_id, @presenter.address_from_properties %>

      <%= f.label :type, "Operación:" %>
      <%= f.select :type, [['Arrendar', 'Rental'], ['Vender', 'Sale']] %>

      <%= f.label :start_date, "Fecha de Inicio:" %>
      <%= f.text_field :start_date, 'data-provide' => 'datepicker' %>

      <%= f.label :end_date, "Fecha Final"%>
      <%= f.text_field :end_date, 'data-provide' => 'datepicker' %>

      <%= f.label :payment, "Cuota Mensual/ Valor" %>
      <%= f.number_field :payment, :class => 'text_field', :step => 'any' %>

      <%= f.submit "Registrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
